.mainWrapper{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: calc(100vh - 20px);
}

.aside{
    background:#1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.asideInner{
    flex: 1;
}

.clientsList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.editorWrapper{
    background: #fff;
}

.leavebtn ,.copybtn {
    background: #4aed88;
}

.copybtn:hover{
    background: #2b824c;
}
.leavebtn:hover {
    background: #2b824c;
}

.CodeMirror{
    min-height: 90vh;
    font-size: 25px;
    line-height: 1.5;
    padding-top: 15px;
}